/*	HEADER 1
/*----------------------------------------------------*/
#header-1 {
  position: fixed;
  width: 100%;
  background: none;
  min-height: 80px;
  z-index: 9999; }

#header-1 .main-nav {
  background-color: #4F2005;
  border: 0;
  height: 80px; }

#header-1 .main-nav .logo {
  height: 80px; }

#header-1 .main-nav .navbar-toggle {
  margin-right: 0;
  margin-top: 0;
  background: none;
  position: absolute;
  right: 20px;
  top: 20px; }

#header-1 .main-nav .navbar-toggle:focus {
  outline: none; }

#header-1 .main-nav .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.6);
  height: 3px; }

#header-1 .main-nav .navbar-toggle:hover .icon-bar {
  background-color: #fff; }

#header-1 .main-nav .nav {
  margin-top: 12px; }

#header-1 .main-nav .nav .nav-item a {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  color: darkgray;
  border: none; }

#header-1 .main-nav .nav .nav-item.active a {
  color: white;
  background: none; }

#header-1 .main-nav .nav .nav-item a:hover {
  color: white;
  background: none; }

#header-1 .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none; }

#header-1 .main-nav .nav .nav-item a:active {
  outline: none;
  background: none; }

#header-1 .main-nav .nav .nav-item.active {
  color: #333; }

#header-1 .main-nav .nav .dropdown-menu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  border: none;
  text-transform: none;
  min-width: 180px;
  background: #3E606F; }

#header-1 .main-nav .nav .dropdown-menu:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #3E606F;
  position: absolute;
  right: 35px;
  top: -10px; }

#header-1 .main-nav .nav .dropdown-menu a {
  padding: 8px 20px;
  color: #fff;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1; }

#header-1 .main-nav .nav .dropdown-menu a:hover {
  background: #193441;
  color: #fff; }

#header-1 .brand-img {
  max-width: 150px;
  padding: 20px 0; }

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all .2s ease-in-out; }

.headroom--unpinned {
  top: -100px; }

.headroom--pinned {
  top: 0; }

/* Override bootstrap default */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: none; }

/*	HEADER 1 MEDIA QUERIES
/*----------------------------------------------------*/
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  #header-1 .brand-img {
    float: center;
    margin: 0 auto;
    text-align: center; }

  #header-1 .main-nav .nav .nav-item a {
    text-align: left;
    width: 120px; }

  #header-1 .navbar-fixed-top {
    position: relative; }

  #header-1 .navbar-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    top: 80px;
    position: absolute;
    background: #4F2605; }

  #header-1 .navbar-collapse .nav {
    margin: 0; }

  #header-1 .main-nav .nav .dropdown-menu:before {
    display: none; }

  #header-1 .navbar-fixed-top .navbar-collapse,
  #header-1 .navbar-fixed-bottom .navbar-collapse {
    max-height: inherit; } }
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
.contact-1 {
  padding-top: 100px; }

.contact-1 .form-container {
  margin-top: 60px; }

.contact-1 .contact-info {
  margin-top: 40px;
  padding: 0;
  list-style: none; }

.contact-1 .contact-info span {
  margin-right: 7px;
  color: #4F2005;
  padding-right: 5px; }

.contact-1 .contact-info li {
  display: inline-block;
  margin: 0 10px;
  font-size: 15px;
  font-weight: 700;
  color: #2e2e2e; }

.contact-1 .contact-info li a {
  color: #2e2e2e; }

.contact-1 .contact-info li a:hover {
  color: #428bca; }

#contact span.required {
  font-size: 13px;
  color: #ff0000; }

#message {
  margin-bottom: 20px;
  padding: 0; }

.error_message {
  display: block;
  background: #FBE3E4;
  padding: 10px 0;
  color: #8a1f11;
  border: 2px solid #FBC2C4;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px; }

/*	CONTACT 1 MEDIA QUERIES
/*----------------------------------------------------*/
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*	FOOTER 1-4
/*----------------------------------------------------*/
.footer-1-4 {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center; }

.footer-1-4 h2, p {
  color: #ffffff; }

.footer-1-4 .footer-form {
  margin-top: 40px; }

.footer-1-4 input[type=text] {
  background-color: rgba(79, 32, 5, 0.76);
  border: solid 1px #fff;
  padding: 20px;
  width: 30%;
  color: #fff; }

.footer-1-4 input[type=submit] {
  background: white;
  border: solid 1px #4F2005;
  padding: 20px;
  color: #4F2005;
  text-transform: uppercase;
  letter-spacing: 1px; }

.footer-1-4 input[type=submit]:hover {
  background: #4F2005;
  border: solid 1px white;
  color: white; }

.footer-1-4 .social {
  margin-top: 30px; }

/*	FOOTER 1-4 MEDIA QUERIES
/*----------------------------------------------------*/
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*	FOOTER 1-1
/*----------------------------------------------------*/
.footer-1-1 {
  padding-top: 60px;
  padding-bottom: 20px; }

.footer-1-1 h3, .footer-1-1 h4, .footer-1-1 .lead, .footer-1-1 li {
  color: #ffffff; }

.footer-1-1 .brand-img {
  width: 200px;
  margin-bottom: 30px; }

.footer-1-1 h4 {
  margin-bottom: 20px; }

.footer-1-1 ul {
  list-style-type: none;
  margin: 0 0 26px;
  padding: 0; }

.footer-1-1 ul li {
  border-top: 1px solid #bdc3c7;
  line-height: 19px;
  padding: 6px 0; }

.footer-1-1 li:first-child {
  border-top: none;
  padding-top: 1px; }

/*	FOOTER 1-1 MEDIA QUERIES
/*----------------------------------------------------*/
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*	FOOTER Copyright Bar
/*----------------------------------------------------*/
.copyright-bar {
  height: 70px;
  padding-top: 20px;
  background-color: #233447;
  position: relative;
  bottom: 0; }

.copyright-bar p {
  color: #ffffff;
  font-weight: 700;
  margin: 0; }
