.calendariobox{
  padding-top: 100px;
  padding-left: 50px;
}

.calendario{
  border: 0;
  width: 1200px;
  height: 690px;
  frameborder: 0;
  scrolling: no;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 280px) {
.calendario{
  border: 0;
  width: 300px;
  height: 400px;
  frameborder: 0;
  scrolling: no;
  }
}

@media only screen and (min-width : 500px) {
.calendario{
  border: 0;
  width: 480px;
  height: 400px;
  frameborder: 0;
  scrolling: no;
  }
}

@media only screen and (min-width : 768px) {
.calendario{
  border: 0;
  width: 700px;
  height: 400px;
  frameborder: 0;
  scrolling: no;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .calendario{
    border: 0;
    width: 900px;
    height: 500px;
    frameborder: 0;
    scrolling: no;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .calendario{
    border: 0;
    width: 1200px;
    height: 600px;
    frameborder: 0;
    scrolling: no;
    }
}
