/*	FOOTER 1-4
/*----------------------------------------------------*/

.footer-1-4 {
	padding-top: 60px;
	padding-bottom: 40px;
	text-align: center;
}

.footer-1-4 h2,p {
	color: #ffffff;
}

.footer-1-4 .footer-form {
	margin-top: 40px;
}

.footer-1-4 input[type=text] {
	background-color: rgba(79, 32, 5, 0.76);
	border: solid 1px #fff;
	padding: 20px;
	width: 30%;
	color: #fff;
}

.footer-1-4 input[type=submit] {
	background: white;
	border: solid 1px #4F2005;
	padding: 20px;
	color: #4F2005;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.footer-1-4 input[type=submit]:hover {
	background: #4F2005;
	border: solid 1px white;
	color: white;
}

.footer-1-4 .social {
	margin-top: 30px;
}


/*	FOOTER 1-4 MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
		
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	

	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
	
	
}