/*	CONTENT BLOCK 1-1
/*----------------------------------------------------*/

.construccion{
	background: url("../images/construccion.jpg") center no-repeat;
	min-height: 300px;
}

.content-1-1 h1 {
	text-transform: uppercase;
	font-weight: 300;
}
